header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: white;
}

.menu-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  color: blue;
}

.menu-icon {
  font-size: 22px;
  cursor: pointer;
}

.menu-logo img {
  height: 40px;
  position: relative;
  left: 25px;
  height: 40px;
  width: 100px;
  
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
