.container {
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  border: #666 solid 1px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: #333;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f7ff;
}

.label {
  font-weight: bold;
  color: #666;
}

.value {
  border: 1px solid #ccc;
  padding: 5px;
  color: #333;
  width: 200px;
  background-color: #fff;
}