p{
    font-size: 16px;
    color: #333;
    margin: 10px;
    width: 20%;
   
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 2px solid #ccc;
    width: 300px;
    position: relative;
    left: 5px;
    top: 15px;
}

p:hover {
    color: #000000;
    cursor: pointer;
    background-color: rgb(191, 205, 217);
    

}
.sidebar {
    width: 250px;
    position: relative;
    top: 50px;
}
